@use './_shared.scss' as s;

main {
    grid-area: main;
    background-image: s.$bgLinearGradient;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & .infoContainer {
        $containerWidth: clamp(300px, 80vw, 600px);
        $containerHeight: clamp(375px, calc(60vh - 15vw), 600px);
        position: relative;
        width: $containerWidth;
        height: $containerHeight;
        background-color: white;

        border-radius: s.$borderRadius;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        & .locationTitle {
            color: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            font-size: 1.4rem;
            position: absolute;
            top: 0.6rem;
            left: 1rem;
        }

        & .imageCredits {
            color: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }

        & .weatherInfoContainer {
            width: calc($containerWidth * 0.6);
            height: calc($containerHeight * 0.5);
            background-color: rgba($color: white, $alpha: 0.7);
            border-radius: s.$borderRadius;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            padding: 1.5rem;

            display: flex;
            justify-content: space-between;
            font-size: 1rem;
            align-items: center;

            & .mainDetailsContainer {
                text-align: center;
                font-size: 1.2em;

                img {
                    width: 4rem;
                    opacity: 2;
                }
            }

            & .otherDetailsContainer {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }

        & .imageCredits {
            position: absolute;
            bottom: 0.6rem;
            right: 0.8rem;
            font-size: 0.7rem;
        }
    }
}